<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantuan</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br></br><br></br><br></br>
        <h2>Kegunaan Halaman Ini</h2>
        <p>
            Selamat datang di halaman bantuan! Halaman ini bertujuan untuk memberikan pemahaman
            lebih mendalam tentang kegunaan website ini. Dengan menggunakan website ini, Anda
            dapat dengan mudah mengakses informasi cuaca terbaru, mengeksplorasi CV pembuat website,
            dan membaca berita terbaru yang sedang trending. Kami berusaha memberikan manfaat
            edukatif dan hiburan bagi pengunjung kami.
        </p>
        <br></br>

        <h2>Apa itu API</h2>
        <p>
            API adalah singkatan dari Application Programming Interface, yang berfungsi sebagai
            penghubung antara aplikasi yang berbeda. API memungkinkan perangkat lunak berkomunikasi
            dan berbagi data satu sama lain, memungkinkan pengembang untuk membangun aplikasi
            yang lebih efektif dan cepat. API adalah inti dari banyak layanan online dan aplikasi
            yang kita gunakan sehari-hari.
        </p>
        <br></br>

        <h2>API yang Digunakan pada Aplikasi Ini</h2>
        <p>
            Aplikasi ini menggunakan API Weatherstack untuk memberikan informasi cuaca real-time,
            historis, dan masa depan. Weatherstack menyediakan data cuaca yang luas dan konsisten
            untuk lokasi di seluruh dunia, menjadikannya pilihan yang baik bagi pengembang dan
            perusahaan.
        </p>
        <br></br>

        <h2>Salah Satu Pola Arsitektur API: GraphQL</h2>
        <p>
            GraphQL adalah bahasa query dan runtime sisi server yang memungkinkan klien untuk
            mengambil hanya data yang diperlukan. GraphQL memberikan fleksibilitas dalam mengambil
            data yang diinginkan dan mengurangi jumlah permintaan ke server.
        </p>
        <p>
            Dalam pengembangan aplikasi, pemilihan antara GraphQL dan teknologi API lainnya
            tergantung pada kebutuhan proyek dan kompleksitas data yang ditangani.
        </p>
        <br></br><br></br>

    </div>
    {{>footer}}
</body>

</html>
