<!DOCTYPE html>

<html>
    <head>
        <title>Tentang</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
        <div class="main-content">
            {{>header}}
            <br></br><br></br>
            <img class="portrait" src="/img/fara.jpeg">
        

    <div class="container">
        <h5>Curriculum Vitae</h5>

        <div class="section">
            <h2>Informasi Pribadi</h2>
            <p>Nama   : Musfara Zahra Nadien</p>
            <p>NIM    : 21343059</p>
            <p>Alamat : Padang</p>
            <p>JK     : Perempuan</p>
        </div>

        <div class="section">
            <h2>Pendidikan</h2>
            <p>Teknik Informatika, Universitas Negeri Padang</p>
        </div>

        <div class="section">
            <h2>Keterampilan</h2>
            <p>Dasar Full Stack</p>
        </div>

         <div class="section">
            <h2>Kontak</h2>
            <p>Email: musfarandn@gmail.com</p>
            <p>Ig   : @mfrznadien</p>
            <p>Telepon:-</p>
        </div>
    </div>
    </div>
</body>
        {{>footer}}

</html>